@charset "UTF-8";




#agree{
	font-size: 12px;
}


#paybt{
	width:250px;
	height:70px;
	background-color:#ff8080;
	border-radius: 5px;
	border:none;
}

.sitNum{
	width:50px;
	background-image: url("../images/sitbt.png");
	background-repeat: no-repeat;
	background-size: 50px 25px;
	border: none;
	cursor: pointer;
	margin-top:5px;
	margin-left:-5px;
	background-color: rgb(230, 241, 251);
}
.onsitNum{
	width:50px;
	background-image: url("../images/onsitbt.png");
	background-repeat: no-repeat;
	background-size: 50px 25px;
	border: none;
	cursor: pointer;
	margin-top:5px;
	margin-left:-5px;
	background-color: rgb(230, 241, 251);
}