@charset "UTF-8";

.list{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;



}

.list th{
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(49, 100, 176);
  color: white;
 
  
}

.list td{
  padding: 8px;
  border-bottom: 1px solid #ddd;
}



/*
#writeBT{
	 background-color: rgb(49, 100, 176);
	 color: white;
	 border-radius: 4px;
}
*/