<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="what.the.bus.member.MemberVO"
			alias="member"></typeAlias>
		<typeAlias type="what.the.bus.driver.DriverVO"
			alias="driver"></typeAlias>
		<typeAlias type="what.the.bus.board.BoardVO" alias="board"></typeAlias>
		<typeAlias type="what.the.bus.best.BestVO" alias="best"></typeAlias>
		<typeAlias type="what.the.bus.comment.CommentVO"
			alias="comment"></typeAlias>
		<typeAlias type="what.the.bus.suggestBoard.SuggestBoardVO"
			alias="suggestBoard"></typeAlias>
		<typeAlias type="what.the.bus.bookBoard.BookBoardVO"
			alias="bookBoard"></typeAlias>
		<typeAlias type="what.the.bus.qaBoard.QaBoardVO" alias="qaBoard"></typeAlias>	
			
			
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- Sql Mapper 설정 -->
	<mappers>
		<mapper resource="mappings/member-mapping.xml" />
		<mapper resource="mappings/driver-mapping.xml" />
		<mapper resource="mappings/board-mapping.xml" />
		<mapper resource="mappings/best-mapping.xml" />
		<mapper resource="mappings/comment-mapping.xml" />
		<mapper resource="mappings/bookBoard-mapping.xml" />
		<mapper resource="mappings/suggestBoard-mapping.xml" />
		<mapper resource="mappings/admin-mapping.xml" />
		<mapper resource="mappings/qaBoard-mapping.xml"/>
		<mapper resource="mappings/main-mapping.xml"/>
	</mappers>
</configuration>
